<div class="card" *ngIf="data$ | async as data">
  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center gap-2">
        <label
          >Hi, <span class="font-bold">{{ data.currentUser?.firstName }}</span
          >!</label
        >

        <p-avatar
          [image]="data.currentUser?.imageUrl || '/assets/user-dummy.jpg'"
          shape="circle"
          (click)="menu.toggle($event)"
          class="cursor-pointer"
        />

        <p-menu #menu [model]="menuItems" [popup]="true" />
      </div>
    </ng-template>
  </p-menubar>

  <p-dialog
    header="Profile Settings"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <div>
      <div class="flex flex-col gap-4 justify-center items-center w-full">
        <p class="font-bold mb-[-5px]">
          {{ data.currentUser?.firstName }}
          {{ data.currentUser?.lastName }}
        </p>
        <p-image
          *ngIf="!data.isSubmitting"
          [src]="data.currentUser?.imageUrl || '/assets/user-dummy.jpg'"
          alt="Image"
          width="150"
        />

        <p-progressSpinner
          *ngIf="data.isSubmitting"
          styleClass="w-4rem h-4rem"
          strokeWidth="4"
          fill="var(--surface-ground)"
          animationDuration=".5s"
        />

        <div class="card flex justify-content-center">
          <p-toast />
          <p-fileUpload
            mode="basic"
            chooseLabel="Choose Image"
            chooseIcon="pi pi-upload"
            name="demo[]"
            accept="image/*"
            maxFileSize="1000000"
            [showUploadButton]="false"
            [auto]="true"
            [customUpload]="true"
            (uploadHandler)="onUpload($event)"
            [disabled]="data.isSubmitting"
          />
        </div>
      </div>
    </div>
  </p-dialog>
</div>
